<!-- Post preview-->
<div class="post-preview">
    <a href="{{post_file}}">
        <h2 class="post-title">{{title}}</h2>
        <h3 class="post-subtitle">{{subtile}}</h3>
    </a>
    <p class="post-meta">
        Posted on {{postdate}}
    </p>
</div>
<!-- Divider-->
<hr class="my-4" />